.h1 {
color: black;
}
   
.name {
   color: blue;
}

.family {
   color: indianred;
}

.h2, h2
 {
color: black;
}

.biography {
color: darkgreen;
}

.sport {
 color: blueviolet;
}

.life {
color: saddlebrown;
}

.death {
   color: tomato;
}
.ulki {
   color: seagreen;
}





























